article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }
section{
    padding: 0rem 21px;
    background-color: rgb(40, 35, 34);
}
audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }
a{
  text-decoration: none;
}
h1 {
  font-size: 1.5em;
  text-align: center;}

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: rgb(235, 230, 230); }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  object-position: center; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0;
  background-image: linear-gradient(#201413, #ca714e);
  background-attachment: fixed; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.quiz {
  color: white;
  font-family: "Open Sans", sans-serif,bold;
  width: 80%;
  margin: 0 auto;
  font-weight: lighter;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: revert;
  margin-bottom: revert;
   }
   .welcome {
    color: white;
    font-family: "Open Sans", sans-serif,bold;
    width: 80%;
    margin: 0 auto;
    top: 20px;
    font-weight: lighter;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
     }
     .welcome1{
      color: white;
      font-family: "Open Sans", sans-serif,bold;
      width: 80%;
      margin: 0 auto;
      margin-left: auto;
      top: 20px;
      font-weight: lighter;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 211px;
     }
   .article {
    color: white;
    font-family: "Open Sans", sans-serif,bold;
    width: 90%;
    font-size: 15px;
    margin: 0 auto;
    font-weight: lighter;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
     }
     .article-l {
      color: white;
      font-family: "Open Sans", sans-serif,bold;
      width: 90%;
      font-size: 30px;
      margin: 0 auto;
      font-weight: lighter;
      margin-left: auto;
     
    
       }
       .logo-s{
         margin: auto;
         text-align: center;
         position: inherit;
         height: auto;
       }
.questions p {
 
  font-size: 1.3em; }
  .questions p.result {
    text-align: center;
    font-size: 1em; }
  .questions p.wrong {
    color: #990000; }
  .questions p.right {
    color: #009900; }
.questions ul {
  padding: 0;
  color: #2c2b2b;
  list-style-type: none; }
  .questions ul li {
    padding: 10px;

background: #392a2a;

margin: 9px 0;

position: relative;

cursor: pointer;

color: #fbfbfa;

font-size: 16px; }
    .questions ul li:hover {
      background: rgb(163, 160, 160); }

.answers .answer .q {
  font-weight: bold; }
.details .detail .d {
  font-weight: bold;
}


img {
/* position: relative; */
top: 100px;
height: 93px;
width: 85px;
text-align: center;
justify-content: center;
align-items: center;

}
@font-face {
src: url('fonts/Wendell_v1.ttf'); 
font-family: 'Wendell';
font-style: normal;}
t2{
  position: relative;
  font-family: "Open Sans", sans-serif,bold;
  color: white;
  font-size: 20px;
  top:120px;
  text-align: center;
  border-radius: 0%;
}
.introo{
  border-radius: 15px;
  height: 100%;
}
.intro{

animation-duration: 4s;
text-align: center;
}
.intro.hidden{
animation-name: example;
animation-fill-mode: forwards;

}
@keyframes example {
0% {font-size: 100px;} 
100% {opacity: 0;top: 20;
  visibility: hidden;} 

}
@keyframes fadein{
0% {opacity: 0; visibility: hidden;}
100% {opacity: 1;
    visibility: visible;}
}
.saisi{

animation-name: fadein;
animation-delay: 3.5s;
text-align: center;
animation-fill-mode: backwards;
}

#welcome {
bottom: 90px;
position: relative;
font-family: 'Wendell';
color: white;
font-size: 50px;
text-align: center;
border-radius: 0%;
}
#text{
text-align: center;
position: relative;
font-family: 'Gadget';
color: white;
font-size: 13px;
text-align: center;
}  
* {box-sizing: border-box;}


/* .header {
height: 50px;
position: fixed;
height: 10%;
width: 100%;
top: 0;
left: 0;
z-index:10 ;
background:#12171c ;
} */

.header a {
float: left;
color: black;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px; 
line-height: 25px;
border-radius: 4px;
}

.logo {

font-size: 15px;
height: 35px;
width: 35px;
position: initial;
border-radius: 4px;
}

.header a:hover {
background-color: rgb(56, 43, 43);
color: black;
}

.header a.active {
background-color: rgb(44, 15, 15);
color: white;
}

.header-right {
float: right;
}

@media screen and (max-width: 500px) {
.header a {
float: none;
display: block;
text-align: left;
}

.header-right {
float: none;
}
}
.t{
	color: rgb(38, 30, 30);
  font-family: "Open Sans", sans-serif;
  /* width: 80%; */
  margin: 0 auto;
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
  }
  
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .but {
    background-color: rgb(255, 233, 224);
    border: none;
    color: #554b4b;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 13px 2px;
  cursor: pointer;
     }

.button4 {border-radius: 26px;}
#rcorners2 {
  border-radius: 25px;
  background-color: #352929;
  border: 1px solid rgb(115, 111, 111);
  padding: auto; 
  width: 71%;
  height: auto;  
  /* margin-left: auto;
  margin-right: auto; */
  margin : 0 auto;
  text-align: center;
  /* vertical-align: middle; */
}
#information{
  border-radius: 25px;
  background-color: #352929;
  border: 1px solid rgb(115, 111, 111);
  padding: auto;
  width: 82%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  text-align: center;
}
#corner{
  padding: auto; 
  width: 71%;
  height: auto;  
  margin : 0 auto;
  text-align: center;
 
}
#corner1{
  border-radius: 25px;
  border: 1px solid rgb(119, 65, 48);
  padding: 11px;
  width: 91%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
#corner2{
  padding: auto; 
  width: 71%;
  height: auto;  
  margin : 0 auto;
  text-align: center;
}
.form_ins {
  padding: 40px;
  padding-bottom: 50px;
  margin : 0 auto;
  text-align: center;
}
#form_1{
 padding-bottom: 50px;
}
.store {
  width: 100%;
  min-height: 30rem;
  
  background-size: cover;
}
.add-flex {
  flex: 1;
}
.banner-right {
  text-align: center;
}
.ace {
  width: 100%;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("src/img/DSio3SYXkAAvTrP.jpg") center;
  background-size: cover;
}
.between-sec {
  background-attachment: fixed;
}
.dot {
  height: 70px;
  width: 70px;
  background-color: #392a2a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
 
  border: 1px solid rgb(115, 111, 111);
}
  .point{
    color: white;
    font-family: "Open Sans", sans-serif,bold;
    width: 91%;
    font-size: 17px;
    margin: 15px auto;
    font-weight: lighter;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
     }
  .tableau{
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
    .img-reponse{
      position: initial;
      width: auto;
    }

    .custom-box {
      border: 2px solid grey;
      text-align: center;
      padding: 10px;
      width: fit-content;
      background-color: white;
      margin: auto;
  }
  .container {
    position: relative;
    /* width: 50%;*/
    margin: 13px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(87, 47, 21, 0.575);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  text {
    color: white;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    height: 85%;
  }
  .codex_elem{
    height: 110px;
    width: 82px;
  }
  
  .dummy{
	
    padding: 15px;
    background: #F2F5F7;
    border: 1px solid #EAEFF2;
    margin-bottom: 25px;
  }
  .dummy p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.08em;
  }