
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Escape Sorbonne</title>
        <link rel="stylesheet" type="text/css" href="css/header.css"/>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/game.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/game.css">
	<script language="JavaScript">
	
	var timerID = null;
var timer = 0;

function start() {
  var text = document.getElementById("chrono");
  var timer_min = 00;
  var timer_s = 00;
  
  if (timerID === null) {
    timerID = setInterval(function() {
	  timer += 1;
	  
      timer_s = Math.floor(timer / 100);
      timer_min = Math.floor(timer_s / 60);
      text.innerHTML =timer_min % 60 + "  : " + timer_s % 60 ;
    }, 10);
  }
}


function stop() {
  clearInterval(timerID);
  timerID = null;
}

function reset_timer() {
  timer = 0;
  stop();
  document.getElementById("chrono").innerHTML = "0  : 00 : 00 ";
}
		//-->
		</script>
</head>
<body  onload = "start()" class="bg_4">
	<div style="background-color: #1d297985;height: 100%;"  >
	<header>
		<h1 class="float-l">
		  <a href="index.html"><img action="index.html"class="logo" src="src/img/E_S.png">
		  </a>
		   </h1>
			
		<input type="checkbox" id="control-nav" />
		<label for="control-nav" class="control-nav"></label>
		<label for="control-nav" class="control-nav-close"></label>
  
		<nav class="float-r">
		  <ul class="list-auto">
			<li>
			  <a href="#Chaves" title="Chaves">Codex</a>
			</li>
			<li>
			  <a href="#Chiquinha" title="Chiquinha">Scores</a>
			</li>
			<li>
			  <a href="#Chiquinha" title="Chiquinha">Mon compte</a>
			</li>
			<li>
			  <a href="#Seu-Madruga" title="Seu Madruga">A propos</a>
			</li>
			<li>
			  <a href="deconnexion.php" title="Quico">deconnexion</a>
			</li>
		  </ul>
		</nav>
		
	  </header>
    
    

		<div id="scor" >
			
			<span class="dot"> <div id="hud-item">
				<p class="point">
				  Score
				</p>
				<h1 class="point" id="score">
				  0
				</h1>
			  </div>
			</span>
			<h5 style='color: rgb(255, 251, 251);font-family: "Open Sans", sans-serif,bold;font-weight: normal;'>mode mission</h5>
			<span class="dot" style="left: 4%;"><h1 class="point" id="chrono" style="margin: 36% auto;">
				0
			  </h1></span>
			
			  <div id="hud-item" style="display: none;">
				<p id="progressText" class="hud-prefix">
				  Question
				</p>
				<div id="progressBar">
				  <div id="progressBarFull"></div>
				</div>
			  </div>
		  </div>
		<div id="loader"></div>
		<div id="game" class="corner1">
		  
			<div >
		 	 <h2 id="question" class="quiz" style="margin-bottom: 10%;background-color: #2d2c2a78; margin-top: 10%;"></h2>
			  <div class="choice-container">
				<p class="choice-text" data-number="1"></p>
			  </div>
			  <div class="choice-container">
				
				<p class="choice-text" data-number="2"></p>
			  </div>
		 	 <div class="choice-container">
				
				<p class="choice-text" data-number="3"></p>
		 	 </div>
		 	 <div class="choice-container">
				
				<p class="choice-text" data-number="4"></p>
		 	 </div>
		 	</div>
		</div>
	  </div>
	  	<div id="article">  
			<div id="information"><img class="image"src="src/img/robert-de-sorbon.jpg"><p class="article"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p> 
			</div><br>
			<button id="togg"class="but button4 text-uppercase"> Prochaine enigme </button>
		</div>
		
		<div class="perso" >	 
			<img src="src/img/Bot.gif" id="robot" onmouseover="bigImg(this)" onmouseout="normalImg(this)" onclick="indice(this)" style="width: 24%;">
			<div class="talk" id="hello"><p>Bienvenue voyageur temporelle</p></div>
			<div class="talk1" id="hello1"><p>je suis là pour vous aider !</p></div>
			<div class="talk2" id="hello2" ><p>Besoin d'aide ? ⇫⇫⇫</p></div>
			<!-- <div><p class="result index"></p></div>
				<div id="indice1" onclick="indice_of(this)" class="index">
					<p class="article1"><em class="article1">indice 1:</em></br>Son fondateur venait d’une commune française, située dans le département des Ardennes. 
					</p> 
				</div>
				<div id="indice2" onclick="indice_of(this)" class="index">
					<p class="article2"> <em class="article2">indice 2:</em></br>Son nom se trouve au milieu de la cour d’honneur.
					</p> 
				</div>
				<div id="indice3" onclick="indice_of(this)" class="index">
					<p class="article3"><em class="article1">1er indice</em></br> Sur la plaque de la cour d’honneur il est indiqué que la chapelle a été édifiée en 1326, mais Robert de Sorbon est décédé en 1274. Notre mission ne va pas être simple car des erreurs se sont disséminés au fil du temps.</p> 
				</div>
				<div id="indice4" onclick="indice_of(this)" class="index">
					<p class="article4"> C’est un célèbre cardinal qui fit la commande d’un nouvel édifice</p> 
				</div>
				<div id="indice5" onclick="indice_of(this)" class="index">
					<p class="article5">Rendons-nous dans le Hall des Amphithéâtres, l’un d’eux porte son nom.</p> 
				</div>
				<div id="indice6" onclick="indice_of(this)" class="index">
					<p class="article6">Il s’agit d’un des proviseurs de la Sorbonne.</p> 
				</div>
				<div id="indice7" onclick="indice_of(this)" class="index">
					<p class="article7">Il s’agit d’un empereur.</p> 
				</div>
				<div id="indice8" onclick="indice_of(this)" class="index">
					<p class="article8">Ça commença en 1806.</p> 
				</div>
				<div id="indice9" onclick="indice_of(this)" class="index">
					<p class="article9">Il s’agit d’un ministre de l’Instruction publique.</p> 
				</div>
				<div id="indice10" onclick="indice_of(this)" class="index">
					<p class="article10">Rendons-nous dans le Hall des Amphithéâtres, l’un d’eux porte son nom.</p> 
				</div>
				<div id="indice11" onclick="indice_of(this)" class="index">
					<p class="article11">C’est une scientifique.</p> 
				</div>
				<div id="indice12" onclick="indice_of(this)" class="index">
					<p class="article12">C’est dû à un mouvement contestataire.</p> 
				</div>
				<div id="indice13" onclick="indice_of(this)" class="index">
					<p class="article13">C’est une scientifique.</p> 
				</div>
				<div id="indice14" onclick="indice_of(this)" class="index">
					<p class="article14">C’est le siège du rectorat de l’académie Paris et de la Chancellerie des Universités de Paris.</p> 
				</div> -->
				<img id="cdx" src="src/img/codex.png" onclick="codex(this)" style="width: 24%;">
				
		</div>
		
	  <script src="js/game.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	  <!-- <script src="js/robot.js"></script> -->
</body>

</html>