<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    
        <link rel="stylesheet" type="text/css" href="css/header.css"/>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="manifest" href="manifest.json"> 
        <meta name="theme-color" content="white"/> 
        <link rel="icon" href="favicon.ico" type="image/x-icon" /> 
        <link rel="apple-touch-icon" href="images/hello-icon-152.png">
        <meta name="theme-color" content="white"/>  
        <meta name="apple-mobile-web-app-capable" content="yes"> 
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Hello World"> 
        <meta name="msapplication-TileImage" content="images/hello-icon-144.png">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <title>Escape Sorbonne</title>
        
</head>
<body>
<header>
      <h1 class="float-l">
        <a href="index.html"><img action="index.html"class="logo" src="src/img/E_S.png">
        </a>
         </h1>
          
      <input type="checkbox" id="control-nav" />
      <label for="control-nav" class="control-nav"></label>
      <label for="control-nav" class="control-nav-close"></label>

      <nav class="float-r">
        <ul class="list-auto">
          <li>
            <a href="#Chaves" title="Chaves">Codex</a>
          </li>
          <li>
            <a href="#Chiquinha" title="Chiquinha">Scores</a>
          </li>
          <li>
            <a href="#Chiquinha" title="Chiquinha">Mon compte</a>
          </li>
          <li>
            <a href="#Seu-Madruga" title="Seu Madruga">A propos</a>
          </li>
          <li>
            <a href="prom1.html" title="Seu Madruga">Retour</a>
          </li>
          <li>
            <a href="deconnexion.php" title="Quico">deconnexion</a>
          </li>
        </ul>
      </nav>
    </header>
    
    
    <div id="accueil">
    <h2 class="welcome">Codex </h2> 
    <h4 class="quiz">"pseudo"</h4>   <br>     
    
    <h4 class="quiz">"tu a collecté 0/10 éléments historique de la Sorbonne"</h4> 
    <div >
      <div class="container_dev" id="code2" onclick="myFunction()" id="myBtn">
          <img src="src/img/363px-Chapelle_de_la_sorbonne_interior.jpg" class="image">
          <p class ="quiz" style="color: rgb(158, 238, 211);">À sa création, la Sorbonne était l’un des collèges du Moyen Âge <span id="dots">...</span><span id="more">de l’université de Paris dont le fondateur s’appelait Robert de Sorbon et était le confesseur du roi Louis Philippe. </span></p>
          <button onclick="myFunction()" id="myBtn" ><img src="src/img/down.png" class="plus"></button>
      </div>
    </div>
    <div class="container" id="code1">
        <img src="src/img/sorbonne.jpg" class="image">
        
        <div class="overlay">
          
          <text><img  src="src/img/lock.png"><br>Moyen Age</text>
        </div>
        <!-- <span id="dots"></span><span id="more">
          <div class="elem">
            <img src="src/img/SRobert.png" class="imag">
            <img src="src/img/explosion.jpg" class="imag">
            <img src="src/img/XD6.png"class="imag" >
          </div>
        </span>
          <button onclick="myFunction()" id="myBtn" ><img src="src/img/down.png" class="plus"></button> 
      </div>-->
    </div>
   
    <div class="container" id="code555">
      <img src="src/img/363px-Chapelle_de_la_sorbonne_interior.jpg" class="image">
      <div class="overlay">
        <!-- <div class="text">Hello World</div> -->
        <text><img src="src/img/lock.png"><br>Renaissance</text>
      </div>
    </div>
  </div>
    <div class="container">
        <img src="src/img/Péristyle_Sorbonne_paysage_1_BD-690x461.jpg" class="image">
        <div class="overlay">
          <!-- <div class="text">Hello World</div> -->
          <text><img src="src/img/lock.png"><br>Révolution Française </text>
        </div>
      </div>
    
    <div class="container">
        <img src="src/img/det_LC19_PARIS_MC_0686.jpg" class="image">
        <div class="overlay">
          <!-- <div class="text">Hello World</div> -->
          <text><img src="src/img/lock.png"><br>Premier & Second Empire</text>
        </div>
      </div>
    </div>
    <div class="container">
        <img src="src/img/sorbonne.jpg" class="image">
        <div class="overlay">
          <!-- <div class="text">Hello World</div> -->
          <text ><img src="src/img/lock.png" ><br>Moderne</text>
        </div>
      </div>
    </div>
    <div class="container" id="4">
        <img src="src/img/sorbonne.jpg" class="image">
        <div class="overlay">
          <!-- <div class="text">Hello World</div> -->
          <text><img src="src/img/lock.png"><br>Contemporaine</text>
        </div>
      </div>
    </div>
    <a class="prev" onclick="javascript:history.go(-1); return false;" style="left: 0%;position: sticky;bottom: 0;">&#10094;</a>
    

    <script> 
      var isShown = localStorage.getItem('showit');
      
      if(isShown && isShown==2){
        document.getElementById('code555').style.display='none';
        
        }else{
          document.getElementById('code555').style.display='block';
        }</script>
  <script src="js/quiz.js"></script>
</body>

</html>