<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    
        <link rel="stylesheet" type="text/css" href="css/header.css"/>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="manifest" href="manifest.json"> 
        <meta name="theme-color" content="white"/> 
        <link rel="icon" href="favicon.ico" type="image/x-icon" /> 
        <link rel="apple-touch-icon" href="images/hello-icon-152.png">
        <meta name="theme-color" content="white"/>  
        <meta name="apple-mobile-web-app-capable" content="yes"> 
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Hello World"> 
        <meta name="msapplication-TileImage" content="images/hello-icon-144.png">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <title>Escape Sorbonne</title>
        
</head>
<body>
<header>
      <h1 class="float-l">
        <a href="index.html"><img action="index.html"class="logo" src="src/img/E_S.png">
        </a>
         </h1>
          
      <input type="checkbox" id="control-nav" />
      <label for="control-nav" class="control-nav"></label>
      <label for="control-nav" class="control-nav-close"></label>

      <nav class="float-r">
        <ul class="list-auto">
          <li>
            <a href="index.html" title="Seu Madruga">Accueil</a>
          </li>
          <li>
            <a href="modes.html" title="Seu Madruga">changer de mode</a>
            </li>
          <li>
            <a href="a_propos.html" title="Seu Madruga">A propos</a>
          </li>
        </ul>
      </nav>
    </header>
    
    
   
    
    <h4 class="quiz">"pseudo"</h4>   <br>     
    
    <h4 class="quiz" id="element"></h4> 
    <div class="container" id="Q1">
      <img src="src/img/Robert_de_Sorbon.jpg" class="image">
      <div class="overlay">
        <text><img src="src/img/lock.png" style="width: 85%;"><br>Le Fondateur</text>
      </div>
    </div>
    <div >
      <div class="container_dev" id="lock1" >
          <img src="src/img/Robert_de_Sorbon.jpg" class="image">
          <p class ="quiz" style="width: 98%;line-height: 1.7rem;">À sa création, la Sorbonne était l’un des collèges du Moyen Âge <span id="dots">...</span><span id="more1">de l’université de Paris dont le fondateur
             s’appelait Robert de Sorbon et était le confesseur du roi Louis Philippe. 
            <img src="src/img/statue robert sorbon.jpg" alt=""style="width: 65%;border-radius: 4%;margin-top: 8%;"></span></p>
          <button onclick="myFunction()" id="Btn1" ><img src="src/img/down.png" class="plus"></button>
      </div>
    </div>
    <div class="container" id="Q2">
        <img src="src/img/Capture d’écran 2020-04-20 à 19.46.18.png"class="image">
        
        <div class="overlay">
          
          <text><img  src="src/img/lock.png"style="width: 85%;"><br>Chapelle Primitive</text>
        </div>
      
    </div>
   
    <div >
      <div class="container_dev" id="lock2" >
          <img src="src/img/Capture d’écran 2020-04-20 à 19.46.18.png" class="image">
          <p class ="quiz" style="width: 98%;line-height: 1.7rem;">La Sorbonne tire son origine du <span id="dots2">...</span><span id="more2">collège créé en 1253 par Robert de Sorbon, chapelain et confesseur du roi saint Louis qui en confirma la fondation en 1257.
             Nous pouvons donc récupérer les plans à partir de 1253. 
          
             <img src="src/img/fig5.png" style="width: 85%;margin-bottom: 8%; border-radius: 7%;">
             
              <img src="src/img/nosadieuxlavi00gr_0144.jpg"style="width: 85%;border-radius: 7%;">
            </span></p>
          <button onclick="article2()" id="Btn2" ><img src="src/img/down.png" class="plus"></button>
      </div>
    </div>
    
  
    <div class="container" id="Q3">
        <img src="src/img/plan BIS.jpeg" class="image">
        <div class="overlay">
          <!-- <div class="text">Hello World</div> -->
          <text><img src="src/img/lock.png" style="width: 85%;"><br>Destruction de la Chapelle</text>
        </div>
      </div>
      <div class="container_dev" id="lock3" >
        <img src="src/img/plan BIS.jpeg" class="image">
        <p class ="quiz">En 1635, le cardinal de Richelieu, 
          alors proviseur du collège de Sorbonne, commande à l’architecte Jacques Lemercier un nouvel édifice aux exigences et au goût de l’époque dont il ne reste aujourd’hui que la Chapelle <span id="dots3">...</span><span id="more3">de l’université de Paris dont le fondateur s’appelait Robert de Sorbon et était le confesseur du roi Louis Philippe. </span></p>
        <button onclick="article3()" id="Btn3" ><img src="src/img/down.png" class="plus"></button> 
      </div>
      <div class="container" id="Q4">
        <img src="src/img/tombeau richelieu.jpg" class="image">
        <div class="overlay">
          <!-- <div class="text">Hello World</div> -->
          <text><img src="src/img/lock.png" style="width: 85%;"><br>Occupation Sorbonne</text>
        </div>
      </div>
      <div class="container_dev" id="lock4" >
        <img src="src/img/tombeau richelieu.jpg" class="image">
        <p class ="quiz">C’est dans le chœur que 
          <span id="dots4">...</span><span id="more4">se trouve le tombeau du fameux Armand Jean du Plessis, Cardinal-duc de Richelieu (1585-1642).
             A la mort du cardinal, la duchesse d’Aiguillon, sa nièce et héritière, prit en charge ses dernières volontés. Elle commanda un tombeau monumental à Girardon, qui ne fut achevé qu’en 1694,
             le corps de Richelieu étant déposé dans une crypte sous le cénotaphe.  </span></p>
        <button  onclick="article4()" id="Btn4" ><img src="src/img/down.png" class="plus"></button>
        
    </div>
    <div class="container" id="Q5">
        <img src="src/img/La_place_et_la_chapelle_de_la_Sorbonne,_par_Victor_Jean_Nicolle_(1754-1826).jpeg" class="image">
        <div class="overlay">
          <!-- <div class="text">Hello World</div> -->
          <text ><img src="src/img/lock.png" style="width: 60%;"><br>Réforme Université</text>
        </div>
      </div>
      <div class="container_dev" id="lock5" >
        <img src="src/img/La_place_et_la_chapelle_de_la_Sorbonne,_par_Victor_Jean_Nicolle_(1754-1826).jpeg" class="image">
        <p class ="quiz">À partir de 1806,<span id="dots5">...</span><span id="more5"> Napoléon réorganisa l’ensemble du système d’enseignement supérieur français, baptisé Université impériale, et créa à Paris cinq facultés dont le but était de former les enseignants des établissements secondaires et des séminaires : les facultés des sciences, des lettres, de théologie, de droit et de médecine. La Sorbonne devint alors le siège des trois premières, ainsi que du rectorat de l’Académie de Paris auquel était attachée la fonction, spécifique à Paris, de Grand Maître de l’Université. Au départ, ces trois facultés s’installèrent au collège du Plessis. 
          Ce n’est qu’en 1821 qu’elles rejoignirent l’ancienne Sorbonne abandonnée trente ans plus tôt. </span></p>
        <button onclick="article5()" id="Btn5" ><img src="src/img/down.png" class="plus"></button> 
    </div>
    <div class="container" id="Q6">
        <img src="src/img/chantierNénot.png" class="image">
        <div class="overlay">
          <!-- <div class="text">Hello World</div> -->
          <text><img src="src/img/lock.png" style="width: 60%;"><br>Renouveau Sorbonne</text>
        </div>
      </div>
    
    <div class="container_dev" id="lock6" >
      <img src="src/img/chantierNénot.png" class="image">
      <p class ="quiz"> La reconstruction des bâtiments <span id="dots6">...</span><span id="more6">du XVIIe siècle, trop exigus et incommodes, fut finalement réalisée sous l’impulsion de Jules Ferry, 
        ministre de l’Instruction publique. Le chantier fut confié à l’architecte Henri-Paul Nénot et la première pierre du nouvel édifice fut posée en 1885. Outre la construction d’un Palais académique où siégeait l’administration rectorale,
         les anciens bâtiments du XVIIe siècle laissèrent place à la Cour d’honneur, la Chapelle en restant le seul élément conservé. On construisit également une vaste bibliothèque de 300 places qui comptait plus de 600 000 volumes en 1913. </span></p>
      <button onclick="article6()" id="Btn6" ><img src="src/img/down.png" class="plus"></button> 
  </div>
    <div class="container" id="Q7">
      <img src="src/img/10522660_10152747984340751_7373328894800491022_n.jpg" class="image">
      <div class="overlay">
        <!-- <div class="text">Hello World</div> -->
        <text><img src="src/img/lock.png" style="width: 60%;"><br>Femme Professeure</text>
      </div>
    </div>
  
  
  <div class="container_dev" id="lock7" >
    <img src="src/img/10522660_10152747984340751_7373328894800491022_n.jpg" class="image">
    <p class ="quiz">Le 5 novembre 1906 <span id="dots7">...</span><span id="more7">, la leçon de la physicienne française d'origine polonaise,
       Marie Curie, née Maria Sklodowska, est l'événement. Journalistes, 
       femmes du monde et professeurs prennent place à côté des étudiants pour assister à ce premier cours. 
       Elle débute en expliquant la radioactivité et les travaux de Becquerel. Des thèmes sur lesquels elle a beaucoup travaillé avec mari.
       <img src="src/img/static_3106.jpeg"style="width: 85%;border-radius: 7%;">
      </span></p>
       <button onclick="article7()" id="Btn7" ><img src="src/img/down.png" class="plus"></button> 
</div>
  <div class="container" id="Q8">
    <img src="src/img/revolte68.jpg" class="image">
    <div class="overlay">
      <!-- <div class="text">Hello World</div> -->
      <text><img src="src/img/lock.png" style="width: 85%;"><br>Révolte 1968</text>
    </div>
  </div>
  <div class="container_dev" id="lock8" >
    <img src="src/img/revolte68.jpg" class="image">
    <p class ="quiz">Les événements de mai  <span id="dots8">...</span><span id="more8">1968 ne commencèrent pas en Sorbonne, mais dans l’une des nouvelles facultés qui venaient d’être construites précisément pour faire face au boom des études supérieures : la faculté de Nanterre. Lorsque la contestation gagna le Quartier latin, la Sorbonne fut occupée à son tour plusieurs fois au cours du mois de mai et devint rapidement un symbole international de la contestation étudiante, jusqu’à son évacuation définitive entre les 14 et 16 juin. 

      Le processus de réforme qui se mit en place au lendemain du mouvement entraîna l’éclatement de l’Université de Paris en neuf – puis plus tard treize – universités. Sous l’impulsion du ministre de l’Education nationale, Edgar Faure, la loi d’orientation de l’enseignement supérieur du 12 novembre 1968 accordait aux nouvelles universités une autonomie limitée : les nouveaux établissements seraient désormais dirigés par un président, professeur élu par un conseil d’administration.</span></p>
    <button onclick="article8()" id="Btn8" ><img src="src/img/down.png" class="plus"></button> 
</div>
 <div class="container" id="Q9">
        <img src="src/img/sorbonne2020.JPG" class="image">
        <div class="overlay">
          <!-- <div class="text">Hello World</div> -->
          <text><img src="src/img/lock.png" style="width: 80%;"><br>2020</text>
        </div>
      </div>
    </div>
    <div class="container_dev" id="lock9" >
      <img src="src/img/sorbonne2020.JPG" class="image">
      <p class ="quiz">La Sorbonne est <span id="dots9">...</span><span id="more9">un bâtiment du Quartier latin dans le 5e arrondissement, c'est une propriété de la ville de Paris.</span></p>
      <button onclick="article9()" id="Btn9" ><img src="src/img/down.png" class="plus"></button> 
  </div>
    <a class="prev" onclick="back() " style="left: 0%;position: sticky;bottom: 0;font-size: 3rem;">&#10554;</a>
    

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/codex.js"></script>
  <script src="https://polyfill.io/v3/polyfill.js"></script>
  <script>
    console.log(localStorage.getItem('currentQuestion'));</script>
</body>

</html>