
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Escape Sorbonne</title>

    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="manifest" href="manifest.json"> 
    <meta name="theme-color" content="white"/> 
    <link rel="icon" href="favicon.ico" type="image/x-icon" /> 
      <link rel="apple-touch-icon" href="images/hello-icon-152.png">
          <meta name="theme-color" content="white"/>  
           <meta name="apple-mobile-web-app-capable" content="yes"> 
             <meta name="apple-mobile-web-app-status-bar-style" content="black">
               <meta name="apple-mobile-web-app-title" content="Hello World"> 
                <meta name="msapplication-TileImage" content="images/hello-icon-144.png">
       <meta name="msapplication-TileColor" content="#FFFFFF">
</head>
<body>
<br><br><br><br>
    <h1 class="quiz">veuillez saisire vos identifiants </h1><br>
    <form action="" method="post">
       <br><br>
        <div class="quiz">
            <input class="t" type="text" name="Nom" id="Nom" placeholder="votre nom" ><br><br>
            <input class="t" type="password" name="PassWord" id="PassWord" placeholder="votre mot de pass" ><br>
            <!-- <br><button class="but button4" type="submit"><a class="quiz"href="acceuil.html">connexion</a></button><br> -->
            <!-- <form action="identification.html"><button class="but button4" type="submit">Connexion</button><br></form> -->
            <!-- <form action="acceuil.html"><button class="but button4" type="submit"  >Identification</button></form> -->
                <!-- <form id="corner" action="Description.html"><button  class="but button4 text-uppercase">Promenade</button></form> -->

        </div>
    </form>
    <form id="corner" action="acceuil.html"><button  class="but button4 text-uppercase">Promenade</button></form>

</body>

</html>