<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="manifest.json"> 
    <meta name="theme-color" content="white"/> 
    <link rel="icon" href="favicon.ico" type="image/x-icon" /> 
    <link rel="apple-touch-icon" href="src/img/apple-touch-icon.png">
    <meta name="theme-color" content="white"/>  
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Hello World"> 
    <meta name="msapplication-TileImage" content="src/img/">
    <meta name="msapplication-TileColor" content="#FFFFFF">


    <link rel="apple-touch-icon" sizes="180x180" href="src/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="src/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="src/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="src/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    

    <title>Escape Sorbonne</title>
</head>
<body class="BG">
<div class="intro"><img class="introo" src="src/img/Escape_Sorbon.png"><br><t2>Escape Sorbonne</t2></div>
<div class="saisi">
        <!-- <h1 class="quiz">Bienvenue dans le jeu sur mobile</br>Escape Sorbone</h1><br> -->
   
      
    
            
            <div class="slideshow-container" style="margin: 65% auto;">
                <div class="mySlides fade" >
                  
                    <!-- <img src="src/img/explosion.jpg" style="width:100%"> -->
                    <div class="text" style="margin: 62% auto;font-size: 94%;padding: 6%;">Bienvenue dans le jeu sur mobile</br>Escape Sorbone 
                    </div>
                </div>

                <div class="mySlides fade">
                  
                  <!-- <img src="src/img/explosion.jpg" style="width:100%"> -->
                  <div class="text">En 2075, dû à une pandémie l’économie s’effondre et déclenche une 4ème Guerre Mondiale.
                    De nombreux bombardements ont lieu à travers le monde ce qui provoque une destruction massive du patrimoine de l’Humanité.</br><br>
                    Vous faites partie d’une Organisation Non Gouvernementale </br><br> en charge de la restauration du patrimoine dans le but de le transmettre aux générations futures.
                   </div>
                   <audio autoplay id="aud1" src="src/audio/audio1.ogg" type="=audio/ogg">
                   </audio>
                   <audio autoplay id="aud2" src="src/audio/audio2.ogg" type="=audio/ogg">
                   </audio>
                   <audio autoplay id="blip" src="src/audio/blip.ogg" type="=audio/ogg">
                   </audio>
                </div>
                
                <div class="mySlides fade">
<!--                   
                  <img src="src/img/logo.png" style="width:100%"> -->
                  <div class="text"> Votre mission est de récupérer les plans de la Sorbonne afin que vos collègues architecte puissent la reconstruire après la guerre. </br><br>
                    Vous remonterez dans le temps avec votre robot qui ouvrira les portails spatio-temporels et qui pourra vous aider dans la résolution des énigmes grâce à sa puissance de calcul quantique
                    
                  </div>
                    
                  </div>
                
               
                
                  
                
                
                </div>
                <br>
                
                <div style="text-align:center; display: inline-block;">
                  <!-- <a id="prev" onclick="plusSlides(-1)" style="left: 0%;"></a> -->
                 <div id="points">
                  <span class="dott" onclick="currentSlide(1)"></span> 
                  <span class="dott" onclick="currentSlide(2)"></span> 
                  <span class="dott" onclick="currentSlide(3)"></span> 
                </div>
                  
                  <a id="next" onclick="plusSlides(1)" ></a>
                  
                </div>
                
                
                
</div>
<button id="suiv" class="but button4" type="submit" style="position: absolute;right: 0;bottom: 1%;" >Suivant ...</button>
<script>

    var slideIndex = 1;
    showSlides(slideIndex);
    var aud1 = document.getElementById("aud1");
    var aud2 = document.getElementById("aud2");
    var blip = document.getElementById("blip");
    // var prev = document.getElementById("prev");
    var suiv = document.getElementById("suiv");
    // prev.innerHTML="&#10094;";
    var next = document.getElementById("next");
    next.innerHTML="&#10095;";
    var points=document.getElementById("points");
    aud1.pause();
    aud2.pause();
    blip.pause();
    suiv.style.display="none";
    function bliper(){
      blip.play();
    }
    function plusSlides(n) {
       
      showSlides(slideIndex += n);
        
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dott");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
    
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    if(n==2){
      aud1.play();
      aud2.pause();
    }else if(n==3){
      aud1.pause();
      aud2.play();
      next.style.display="none";
      suiv.style.display="block";
     
             points.style.display="none";
            //  prev.style.display="none";
             suiv.onclick= function(){
        window.location.assign("modes.html");
             }
    }
      
    }
    
    
      
    </script>
<script type="text/javascript">
window.addEventListener("load",function(){
    const intro = document.querySelector(".intro");
   
    intro.className += " hidden";
});
 </script>
 <script src="./js/main.js"></script>
 <script src="https://polyfill.io/v3/polyfill.js"></script>
</body>

</html>