
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Escape Sorbonne</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="bg_2">
    <header>
        <h1 class="float-l">
          <a href="index.html"><img action="index.html"class="logo" src="src/img/E_S.png">
          </a>
           </h1>
      </header><br><br>
<div style="margin-top: 60%;" class="form">

    <h2 class="quiz" style="font-size: 136%;">Inscrit-toi !</h2>
    <form action="navigator2.html" method="post" >
       
        <div class="quiz">
            <h1 class="quiz">Pseudo</h1>
        <input class="t" type="text" name="Nom" id="Nom" placeholder="votre nom" required>
        <h1 class="quiz">Mot de passe</h1>
        <input class="t" type="password" name="PassWord" id="PassWord" placeholder="mot de pass" required>
        <h1 class="quiz">Confirmation du mot de passe</h1>
        <input class="t" type="password" name="conpassword" id="conpassword" placeholder="confirmer mot de pass" required>

        
        <button class="but button4" type="submit" name="formsend" >Inscription</button>
    </div>
</form>
</div>
	
</body>

</html>