
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    
    <link rel="stylesheet" type="text/css" href="css/header.css"/>
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/game.css">
	<meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="manifest.json"> 
    <meta name="theme-color" content="white"/> 
    <link rel="icon" href="favicon.ico" type="image/x-icon" /> 
    <link rel="apple-touch-icon" href="images/hello-icon-152.png">
    <meta name="theme-color" content="white"/>  
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Hello World"> 
    <meta name="msapplication-TileImage" content="images/hello-icon-144.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
	<title>Escape Sorbonne</title>
	<script>
		var shown=1;
		function showorhide()
		{
		if(shown===1){
			localStorage.setItem('showit', 2);
			shown=2;
			}
			else{
				localStorage.setItem('showit', 1);
				shown=1;
			}
		}
	</script>
</head>
<body class="bg_4">
	
	<div  style="background-color: #1d297985;height: 100%;">
    <!-- <h5 class="welcome" >mode promenade</h5> -->
    
	<header>
		<h1 class="float-l">
		  <a href="index.html"><img action="index.html"class="logo" src="src/img/E_S.png">
		  </a>
		   </h1>
			
		<input type="checkbox" id="control-nav" />
		<label for="control-nav" class="control-nav"></label>
		<label for="control-nav" class="control-nav-close"></label>
  
		<nav class="float-r">
		  <ul class="list-auto">
			  
			<li>
				<a href="index.html" title="Seu Madruga">Accueil</a>
			</li>
			<li>
				<a href="modes.html" title="Seu Madruga">changer de mode</a>
			  </li>
			<li>
			  <a href="a_propos.html" title="Seu Madruga">A propos</a>
			</li>
			
		  </ul>
		</nav>
	
	</header>
		<section class="questions" id="questions"style="color: rgb(51, 48, 48); backdrop-filter: blur(3px);")>
			
			
			<div class="question q1 ">
				
				<p class="quiz " style="position: relative;z-index: 1;font-size: 70%;" id="Que1"> </p>
				<ul>
					<li>Louis de Sorbonne</li>
					<li onclick="showorhide()">Robert de Sorbon</li>
					<li>Louis le Sorbonnais</li>
					<li>philippe de Sorbon</li>
				</ul>
			</div>
			<div class="question q2">
				<p class="quiz" id="Que2"></p>
				<ul>
					<li>1253</li>
					<li>1263</li>
					<li>1326</li>
					<li>1347</li>
				</ul>
			</div>
			<div class="question q3">
				<p class="quiz" id="Que3"></p>
				<ul>
					<li>1430</li>
					<li>1522</li>
					<li>1622</li>
					<li>1635</li>
				</ul>
			</div>
			<div class="question q4">
				<p class="quiz" id="Que4">
				</p>
				<ul>
					<li>Robert de Sorbon</li>
					<li>Cardinal de Richelieu</li>
					<li>Napoléon Bonaparte</li>
					<li>Victor Hugo</li>
				</ul>
			</div>
			<div class="question q5">
				<p class="quiz" id="Que5"></p>
				<ul>
					<li>Napoléon Bonaparte</li>
					<li>Jules Ferry</li>
					<li>Louis Pasteur</li>
					<li>Octave Gréard</li>
				</ul>
			</div>
			<div class="question q6">
				<p class="quiz" id="Que6"> </p>
				<ul>
					<li>Octave Gréard</li>
					<li>Jules Ferry</li>
					<li>Victor Hugo</li>
					<li>Louis Pasteur</li>
				</ul>
			</div>
			<div class="question q7">
				<p class="quiz" id="Que7">
				</p>
				<ul>
					<li>Simone de Beauvoir</li>
					<li>Simone Weil</li>
					<li>Jacqueline de Romilly</li>
					<li>Marie Curie</li>
				</ul>
			</div>
			<div class="question q8">
				<p class="quiz" id="Que8">
				</p>
				<ul>
					<li>1918</li>
					<li>1939</li>
					<li>1945</li>
					<li>1968</li>
				</ul>
			</div>
			<div class="question q9">
				<p class="quiz" id="Que9">
				</p>
				<ul>
					<li>Une université</li>
					<li>Un bâtiment</li>
					<li>Une faculté</li>
					<li>Un collège</li>
				</ul>
			</div>
		</section>
		<audio autoplay id="borg" src="src/audio/borg-1.ogg" type="=audio/ogg"></audio>
	
	
	<div class="perso" >	 
		<img src="src/img/Bot.gif" id="robot" onmouseover="bigImg(this)" onmouseout="normalImg(this)" onclick="indice(this)">
		<div class="index" id="hello"><p>Bienvenue voyageur temporelle</p></div>
		<div class="index" id="hello1"><p>je suis là pour vous aider !</p></div>
		
			<div ><p class="result index article3"></p></div>
			
			<div id="indice1" onclick="indice_of(this)" class="index">
				<p class="article3" id="art1"> 
				</p> 
			</div>
			<div id="indice2" onclick="indice_of(this)" class="index">
				<p class="article3"id="art2"> 
				</p> 
			</div>
			<div id="indice3" onclick="indice_of(this)" class="index">
				<p class="article3"id="art3"> </p> 
			</div>
			<div id="indice4" onclick="indice_of(this)" class="index">
				<p class="article3"id="art4"> </p> 
			</div>
			<div id="indice5" onclick="indice_of(this)" class="index">
				<p class="article3"id="art5"></p> 
			</div>
			<div id="indice6" onclick="indice_of(this)" class="index">
				<p class="article3"id="art6"></p> 
			</div>
			<div id="indice7" onclick="indice_of(this)" class="index">
				<p class="article3"id="art7"></p> 
			</div>
			<div id="indice8" onclick="indice_of(this)" class="index">
				<p class="article3"id="art8"></p> 
			</div>
			<div id="indice9" onclick="indice_of(this)" class="index">
				<p class="article3"id="art9"></p> 
			</div>
			<div id="indice10" onclick="indice_of(this)" class="index">
				<p class="article3"id="art10"></p> 
			</div>
			<div id="indice11" onclick="indice_of(this)" class="index">
				<p class="article3"id="art11"></p> 
			</div>
			<div id="indice12" onclick="indice_of(this)" class="index">
				<p class="article3" id="art12"></p> 
			</div>
			<div id="indice13" onclick="indice_of(this)" class="index">
				<p class="article3" id="art13"></p> 
			</div>
			<div id="indice14" onclick="indice_of(this)" class="index">
				<p class="article3" id="art14"></p> 
			</div>
			<div>
			<span class="notif"></span></div>
			<img id="cdx" src="src/img/codex.png" onclick="codex(this)">
			
	</div>
	
	
</div>
	<script>
		var cdx=document.getElementById("cdx");
		function codex(cdx){
			return window.location.assign("codex-prom.html");
		}
		

	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://polyfill.io/v3/polyfill.js"></script>
	<script src="js/quiz.js"></script>
</body>

</html>