
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    
    <link rel="stylesheet" type="text/css" href="css/header.css"/>
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/game.css">
	<meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="manifest.json"> 
    <meta name="theme-color" content="white"/> 
    <link rel="icon" href="favicon.ico" type="image/x-icon" /> 
    <link rel="apple-touch-icon" href="images/hello-icon-152.png">
    <meta name="theme-color" content="white"/>  
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Hello World"> 
    <meta name="msapplication-TileImage" content="images/hello-icon-144.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
	<title>Escape Sorbonne</title>
	<script>
		var shown=1;
		function showorhide()
		{
		if(shown===1){
			localStorage.setItem('showit', 2);
			shown=2;
			}
			else{
				localStorage.setItem('showit', 1);
				shown=1;
			}
		}
	</script>
</head>
<body class="bg_4">
	
	<div  style="background-color: #8c266475;height: 100%;">
    <!-- <h5 class="welcome" >mode promenade</h5> -->
    
	<header>
		<h1 class="float-l">
		  <a href="index.html"><img action="index.html"class="logo" src="src/img/E_S.png">
		  </a>
		   </h1>
			
		<input type="checkbox" id="control-nav" />
		<label for="control-nav" class="control-nav"></label>
		<label for="control-nav" class="control-nav-close"></label>
  
		<nav class="float-r">
		  <ul class="list-auto">
			<li>
			  <a href="codex-prom.html" title="Chaves">Codex</a>
			</li>
			<li>
			  <a href="score.html" title="Chiquinha">Scores</a>
			</li>
			<li>
			  <a href="Compte.html" title="Chiquinha">Mon compte</a>
			</li>
			<li>
			  <a href="a_propos.html" title="Seu Madruga">A propos</a>
			</li>
			<li>
			  <a href="deconnexion.php" title="Quico">deconnexion</a>
			</li>
		  </ul>
		</nav>
	
	</header>
    <h3 class="welcome1" id="commence" >COMMENÇONS ! </h3>  
	<!-- <div class="article"><img src="src/img/SRobert.png"><p>À sa création, la Sorbonne était l’un des collèges du Moyen  ge de l’université de Paris dont le fondateur s’appelait Robert de Sorbon et était le confesseur du roi Louis Philippe. 
	</p>
	</div> -->
		<section class="questions" id="questions"style="color: rgb(51, 48, 48);")>
			
			
			<div class="question q1 ">
				
				<p class="quiz machin" style="position: relative;z-index: 1;font-size: 70%;">Pour commencer, nous devons savoir jusqu'où remonter, je propose de revenir en 2020 et de chercher sa date de fondation.<br> Pour cela nous devons retrouver le nom d'un de ses fondateurs. </p>
				<ul>
					<li>Louis de Sorbonne</li>
					<li onclick="showorhide()">Robert de Sorbon</li>
					<li>Louis le Sorbonnais</li>
					<li>philippe de Sorbon</li>
				</ul>
			</div>
			<div class="question q2">
				<p class="quiz">Nous avons maintenant le nom d’un des fondateurs, il nous reste plus qu’à trouver la date de fondationde la Sorbonne.</p>
				<ul>
					<li>1253</li>
					<li>1263</li>
					<li>1326</li>
					<li>1347</li>
				</ul>
			</div>
			<div class="question q3">
				<p class="quiz">La Sorbonne date donc du Moyen-Âge et nous pouvons supposer qu’elle ne ressemblait pas à celle de 2020 à laquelle nous sommes revenus. D’ailleurs, les tracés en double pointillé blanc situé au centre de la Cour d’Honneur correspondent à la chapelle primitive, mais si nous savions quand a-t-elle été détruite, nous pourrions sûrement daté une autre période de construction et retrouver les plans.</p>
				<ul>
					<li>1430</li>
					<li>1522</li>
					<li>1622</li>
					<li>1635</li>
				</ul>
			</div>
			<div class="question q4">
				<p class="quiz">Le 5 décembre 1793, des révolutionnaires saccagèrent un tombeau qui se trouvait dans la nouvelle chapelle,
					 l'exhumèrent et décapitèrent son cadavre… à qui appartenait-il ?
				</p>
				<ul>
					<li>Robert de Sorbon</li>
					<li>Cardinal de Richelieu</li>
					<li>Napoléon Bonaparte</li>
					<li>Victor Hugo</li>
				</ul>
			</div>
			<div class="question q5">
				<p class="quiz">Au XIXe siècle c’est le temps des grands travaux sous la Troisième République en Sorbonne.
					 Qui réorganisa l’ensemble du système d’enseignement supérieur français, baptisé Université impériale ? </p>
				<ul>
					<li>Napoléon Bonaparte</li>
					<li>Jules Ferry</li>
					<li>Louis Pasteur</li>
					<li>Octave Gréard</li>
				</ul>
			</div>
			<div class="question q6">
				<p class="quiz">La reconstruction des bâtiments du XVIIe siècle, trop exigus et incommodes, 
					fut finalement réalisée sous l’impulsion de ?  </p>
				<ul>
					<li>Octave Gréard</li>
					<li>Jules Ferry</li>
					<li>Victor Hugo</li>
					<li>Louis Pasteur</li>
				</ul>
			</div>
			<div class="question q7">
				<p class="quiz">En 1906 une femme devient la première femme enseignante à la Sorbonne. De qui s’agit-il ?
				</p>
				<ul>
					<li>Simone de Beauvoir</li>
					<li>Simone Weil</li>
					<li>Jacqueline de Romilly</li>
					<li>Marie Curie</li>
				</ul>
			</div>
			<div class="question q8">
				<p class="quiz">En quelle année l’Université de Paris éclate-t-elle en 13 universités Parisiennes ?
				</p>
				<ul>
					<li>1918</li>
					<li>1939</li>
					<li>1945</li>
					<li>1968</li>
				</ul>
			</div>
			<div class="question q9">
				<p class="quiz">En 2020, la Sorbonne est ?
				</p>
				<ul>
					<li>Une université</li>
					<li>Un bâtiment</li>
					<li>Une faculté</li>
					<li>Un collège</li>
				</ul>
			</div>
		</section>
		<audio autoplay id="borg" src="src/audio/borg-1.ogg" type="=audio/ogg"></audio>
	
	
	<div class="perso" >	 
		<img src="src/img/Bot.gif" id="robot" onmouseover="bigImg(this)" onmouseout="normalImg(this)" onclick="indice(this)">
		<div class="talk" id="hello"><p>Bienvenue voyageur temporelle</p></div>
		<div class="talk1" id="hello1"><p>je suis là pour vous aider !</p></div>
		<!-- <div class="talk2" id="hello2" ><p>Besoin d'aide ? ⇫⇫⇫</p></div> -->
		<div><p class="result index"></p></div>
			<div id="indice1" onclick="indice_of(this)" class="index">
				<p class="article3"><em class="article1">indice 1:</em></br>Son fondateur venait d’une commune française, située dans le département des Ardennes. 
				</p> 
			</div>
			<div id="indice2" onclick="indice_of(this)" class="index">
				<p class="article1"> <em class="article2">indice 2:</em></br>Son nom se trouve au milieu de la cour d’honneur.
				</p> 
			</div>
			<div id="indice3" onclick="indice_of(this)" class="index">
				<p class="article1"><em class="article1">1er indice</em></br> Sur la plaque de la cour d’honneur il est indiqué que la chapelle a été édifiée en 1326, mais Robert de Sorbon est décédé en 1274. Notre mission ne va pas être simple car des erreurs se sont disséminés au fil du temps.</p> 
			</div>
			<div id="indice4" onclick="indice_of(this)" class="index">
				<p class="article3"> C’est un célèbre cardinal qui fit la commande d’un nouvel édifice</p> 
			</div>
			<div id="indice5" onclick="indice_of(this)" class="index">
				<p class="article1">Rendons-nous dans le Hall des Amphithéâtres, l’un d’eux porte son nom.</p> 
			</div>
			<div id="indice6" onclick="indice_of(this)" class="index">
				<p class="article1">Il s’agit d’un des proviseurs de la Sorbonne.</p> 
			</div>
			<div id="indice7" onclick="indice_of(this)" class="index">
				<p class="article1">Il s’agit d’un empereur.</p> 
			</div>
			<div id="indice8" onclick="indice_of(this)" class="index">
				<p class="article1">Ça commença en 1806.</p> 
			</div>
			<div id="indice9" onclick="indice_of(this)" class="index">
				<p class="article1">Il s’agit d’un ministre de l’Instruction publique.</p> 
			</div>
			<div id="indice10" onclick="indice_of(this)" class="index">
				<p class="article1">Rendons-nous dans le Hall des Amphithéâtres, l’un d’eux porte son nom.</p> 
			</div>
			<div id="indice11" onclick="indice_of(this)" class="index">
				<p class="article1">C’est une scientifique.</p> 
			</div>
			<div id="indice12" onclick="indice_of(this)" class="index">
				<p class="article1">C’est dû à un mouvement contestataire.</p> 
			</div>
			<div id="indice13" onclick="indice_of(this)" class="index">
				<p class="article1">C’est une scientifique.</p> 
			</div>
			<div id="indice14" onclick="indice_of(this)" class="index">
				<p class="article1">C’est le siège du rectorat de l’académie Paris et de la Chancellerie des Universités de Paris.</p> 
			</div>
			<img id="cdx" src="src/img/codex.png" onclick="codex(this)">
			<!--  title="Chaves"></a> -->
	</div>
	
	
</div>
	<script>
		var cdx=document.getElementById("cdx");
		function codex(cdx){
			return window.location.assign("codex-prom.html");
		}
		

	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/quiz.js"></script>
</body>

</html>