
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    
    <title>Escape Sorbonne</title>
    <link rel="stylesheet" type="text/css" href="css/header.css"/>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="manifest" href="manifest.json"> 
    <meta name="theme-color" content="white"/> 
    <link rel="icon" href="favicon.ico" type="image/x-icon" /> 
      <link rel="apple-touch-icon" href="images/hello-icon-152.png">
          <meta name="theme-color" content="white"/>  
           <meta name="apple-mobile-web-app-capable" content="yes"> 
             <meta name="apple-mobile-web-app-status-bar-style" content="black">
               <meta name="apple-mobile-web-app-title" content="Hello World"> 
                <meta name="msapplication-TileImage" content="images/hello-icon-144.png">
       <meta name="msapplication-TileColor" content="#FFFFFF">
</head>
<body class="bg_3" >

    <div style="background-color: #0e13279c;   height: 42rem;">
      <!-- <img src="src/img/XD2.jpg"> -->
      <header>
        <h1 class="float-l">
          <a href="acceuil.html"><img action="index.html"class="logo" src="src/img/E_S.png">
          </a>
           </h1>
            
        <input type="checkbox" id="control-nav" />
        <label for="control-nav" class="control-nav"></label>
        <label for="control-nav" class="control-nav-close"></label>
  
        <nav class="float-r">
          <ul class="list-auto">
            <li>
              <a href="Compte.html" title="Chiquinha">Mon compte</a>
            </li>
            <li>
              <a href="a_propos.html" title="Seu Madruga">A propos</a>
            </li>
            <li>
              <a href="deconnexion.html" title="Quico">deconnexion</a>
            </li>
          </ul>
        </nav>
      </header>
    
    <div style="margin: 19% auto; text-align: center;">
        <h5 class="welcome"style="top: 0%; " >Scores</h5></br></br>
        <h4 class="quiz">Rang | Pseudo | Score</h4><br>
        <h4 class="quiz"> #1  |  Gaya  |     8</h4><br>
        <h4 class="quiz"> #2  |  luchila  |     6</h4><br>
  </div>
</body>

</html>