
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Escape Sorbonne</title>
        <link rel="stylesheet" type="text/css" href="css/header.css"/>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="design/linearicons.css">
			<link rel="stylesheet" href="design/font-awesome.min.css">
			<link rel="stylesheet" href="design/bootstrap.css">
			<link rel="stylesheet" href="design/magnific-popup.css">
			<link rel="stylesheet" href="design/jquery-ui.css">				
			<link rel="stylesheet" href="design/nice-select.css">							
			<link rel="stylesheet" href="design/animate.min.css">
			<link rel="stylesheet" href="design/owl.carousel.css">				
			<link rel="stylesheet" href="design/main.css">
</head>
<body>
    <script src="js/fetch.js"></script>

</body>

</html>